body{
  background: white;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ececec;
}

.logo {
    max-width: 3rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}




.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:300px;
  
}

.item {
  display: flex;
  align-items: center;
}

.number {
  font-size: 1.5em;
  margin-right: 0.2em;
  background:#d4d4d4;
  padding:1rem;
  width:60px;
  background: #d0cece;
box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
}

img {
  max-width: 100%;
  width:80px ;
  margin-right:0.2em;
  border-radius:5px;
}

#canal5 {
  font-size: 1em;
  padding: 1.3em 2.0em;
  border: none;
  background: #d0cece;
  box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
  margin-right: 0.5em;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box; 
}

@media only screen and (max-width: 550px) {
  #canal5 {
    max-width: 100%;
  }
}






iframe{
    position: fixed;
    top: 16%;
}







@media screen and (min-width: 768px) {
  .number {
    max-width: 5%;
  }
  img {
    max-width: 10%;
  }
  #canal5 {
    width: 100%;
  }
}













.containerdos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:10px;
  
}

.item {
  display: flex;
  align-items: center;
}

.numberdos {
  font-size: 1.5em;
  margin-right: 0.2em;
  background:#d4d4d4;
  padding:1rem;
  width:60px;
  background: #d0cece;
box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
}

img {
  max-width: 100%;
  width:80px ;
  margin-right:0.2em;
  border-radius:5px;
}

#tsi {
  font-size: 1em;
  padding: 1.3em 5.0em;
  border: none;
  background: #d0cece;
  box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
  margin-right: 0.5em;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box; 
}

@media only screen and (max-width: 550px) {
  #tsi {
    max-width: 100%;
  }
}











@media screen and (min-width: 768px) {
  .number {
    max-width: 5%;
  }
  img {
    max-width: 10%;
  }
  #tsi{
    width: 100%;
  }
}



.texthonduras {
    color: red;
    font-size: 3vh;
    position: absolute;
    top: 45%;
    right: 70%;
}













.containertres {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:12px;
  
}

.item {
  display: flex;
  align-items: center;
}

.numbertres {
  font-size: 1.5em;
  margin-right: 0.2em;
  background:#d4d4d4;
  padding:1rem;
  width:60px;
  background: #d0cece;
box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
}

img {
  max-width: 100%;
  width:80px ;
  margin-right:0.2em;
  border-radius:5px;
}

#telecadena {
  font-size: 1em;
  padding: 1.3em 2.5em;
  border: none;
  background: #d0cece;
  box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
  margin-right: 0.5em;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  box-sizing: border-box; 
  font-weight:bold ;
}

@media only screen and (max-width: 550px) {
  #telecadena {
    max-width: 100%;
  }
}











@media screen and (min-width: 768px) {
  .number {
    max-width: 5%;
  }
  img {
    max-width: 10%;
  }
  #telecadena{
    width: 100%;
  }
}










form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  position:absolute ;
 
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ccc;
  cursor: pointer;
  
}

button[type="submit"]:hover {
  background-color: #aaa;
  
}











.image {
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  border: 1px solid gray;
  padding: 5px;
  display: inline-block;
}



#search{
    position: absolute;
    top: 2%;
    right: 25%;
}


label{
    color: grey;
    position: absolute;
    top: 8%;
    right: 45%;
    font-weight: bold;
}











.containercuatro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:12px;
  
}

.item {
  display: flex;
  align-items: center;
}

.numbercuatro {
  font-size: 1.5em;
  margin-right: 0.2em;
  background:#d4d4d4;
  padding:1rem;
  width:60px;
  background: #d0cece;
box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
}

img {
  max-width: 100%;
  width:80px ;
  margin-right:0.2em;
  border-radius:5px;
}



.imghch{
    height: 60px;
}

#hch {
  font-size: 1em;
  padding: 1.3em 4.5em;
  border: none;
  background: #d0cece;
  box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
  margin-right: 0.5em;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  box-sizing: border-box; 
  font-weight:bold ;
}

@media only screen and (max-width: 550px) {
  #hch {
    max-width: 100%;
  }
}











@media screen and (min-width: 768px) {
  .number {
    max-width: 5%;
  }
  img {
    max-width: 10%;
  }
  #hch{
    width: 100%;
  }
}













.containercinco {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top:12px;
  
}

.item {
  display: flex;
  align-items: center;
}

.numbercinco {
  font-size: 1.5em;
  margin-right: 0.2em;
  background:#d4d4d4;
  padding:1rem;
  width:60px;
  background: #d0cece;
box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
}

img {
  max-width: 100%;
  width:80px ;
  margin-right:0.2em;
  border-radius:5px;
}



.imgmetrotv{
 height:60px ;
}

#metrotv {
  font-size: 1em;
  padding: 1.3em 3em;
  border: none;
  background: #d0cece;
  box-shadow: inset 6px 6px 20px -1px #6c6c6c,
        inset -6px -6px 20px -1px #f2f1f1;
  color: white;
  border-radius: 8px;
  margin-right: 0.5em;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  box-sizing: border-box; 
  font-weight:bold ;
}

@media only screen and (max-width: 550px) {
  #metrotv {
    max-width: 100%;
  }
}











@media screen and (min-width: 768px) {
  .numbercinco {
    max-width: 5%;
  }
  img {
    max-width: 10%;
  }
  #metrotv{
    width: 100%;
  }
}

