body {
  background-color: #fff;
  background-image: linear-gradient(to right, #000000, #434343, #7f7f7f, #bcbcbc, #ffffff);
  background-size: 400%;
  animation: fondo 10s infinite linear;
}

@keyframes fondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titulo {
  text-align: center;
}







.opciones {
  margin: 0 auto;
  text-align: center; /* Centra el contenido horizontalmente */
  max-width: 500px; /* Define un ancho máximo para pantallas grandes */
  width: 80%; /* Define un ancho base para pantallas medianas */
  padding: 20px; /* Agrega espacio alrededor del contenido */
  border-radius: 5px; /* Añade bordes redondeados */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

.boton {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}


.boton1 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}




.boton1:hover {
  background-color: #000;
  color: #fff;
}






.boton2 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}




.boton2:hover {
  background-color: #000;
  color: #fff;
}











.boton:hover {
  background-color: #000;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  /* Ajustes para pantallas móviles */
  .opciones {
    width: 90%; /* Aumenta el ancho en pantallas móviles */
  }
}



.modal {
  display: none; /* Oculta la ventana emergente por defecto */
  position: fixed; /* Posiciona la ventana emergente en el centro de la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Posiciona la ventana emergente sobre el resto del contenido */
  background-color: #fff; /* Color de fondo de la ventana emergente */
  padding: 20px; /* Padding de la ventana emergente */
  border-radius: 10px; /* Borde redondo de la ventana emergente */
}

.modal.visible {
  display: block; /* Muestra la ventana emergente cuando se le agrega la clase "visible" */
}
