/* styles.css */
body {
  margin: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
}

.player-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  aspect-ratio: 16/9;
  background: #000;
  overflow: hidden;
  border-radius: 10px;
}

.video-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
}

.custom-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.custom-controls.visible {
  opacity: 1;
  pointer-events: auto;
}

.info {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
}

.info h1 {
  margin: 0;
  font-size: 18px;
}

.info h2 {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #ccc;
}

.live-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.3s ease; /* Animación suave al aparecer */
}

.live-indicator.visible {
  opacity: 1; /* Se muestra cuando tiene la clase 'visible' */
}

.buttons {
  position: absolute;
  bottom: 10px; /* Mantiene los botones en la parte inferior */
  left: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-button {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.control-button:hover {
  color: #ccc; /* Cambia el color al pasar el ratón */
}

.control-button:active {
  color: #f00; /* Rojo al hacer clic */
}